<% @articles.each do |article| %>
<tr>
    <td><%= article.id %></td>
    <td><%= article.name %></td>
    <td><%= article.body %></td>
    <td><%= link_to 'Show', article_path(article.id) %></td>
    <td><%= button_to 'Delete', delete_article_path(article.id), method: :delete %> </td>
</tr>
<% end %>