<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @article.id %> </td>
        <td><%= @article.name %> </td>
        <td><%= @article.body %> </td>
      </tr>
  </tbody>
</table>


<hr>
    
<h2>Comments</h2>
<% @comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user&.username || "Anonymous" %></strong></p>
    <p><%= comment.body %></p>
  </div>
<% end %>


<h3>Add a comment:</h3>
 <%= form_with(model: [@article, Comment.new], local: true) do |form| %>
  <p>
     <%= form.label :user_id, "Select User:" %>
    <%= form.select :user_id, options_from_collection_for_select(User.all, :id, :username), { prompt: "Choose a user" } %>
  </p>
    <%= form.text_area :body, rows: 3 %>
  </p>
  <p>
    <%= form.submit "Post Comment" %>
  </p>
<% end %>