<style>
* {
  text-align: center;
}

body {
  text-align: center;
}

table {
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 200px;
}

form {
  display: inline-block;
  text-align: left;
  margin: 20px auto;
}
</style>


<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @article.name %> </td>
        </tr>
        <tr>
          <td>
            <p><strong>Written by:</strong> <%= @article.user.username %></p>
            <strong>Story Content</strong>
          </td>
        </tr>
        <tr>
        <td><p><%= @article.body %> </p></td>
        </tr>
      </tr>
  </tbody>
</table>

    
<h2>Comments</h2>
<% @comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user&.username %></strong></p>
    <p><%= comment.body %></p>
  </div>
<% end %>


<h3>Add a comment:</h3>
 <%= form_with(model: [@article, Comment.new], local: true) do |form| %>
  <p>
     <%= form.label :user_id, "Select User:" %>
    <%= form.select :user_id, options_from_collection_for_select(User.all, :id, :username) %>
  </p>
    <%= form.text_area :body, rows: 3 %>
  </p>
  <p>
    <%= form.submit "Post Comment" %>
  </p>
<% end %>