<style>
* {
  text-align: center;
}

</style>



<p>
  <%= f.label :name, "Title" %> <br/>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :body, "Story Content" %> <br/>
  <%= f.text_field :body %>
</p>

<p>
  <%= f.submit "Publish"%>
</p>